block content
    //gun do an id and temp trend. 5 sensors per box. all sending random temp give or 3 from the root. I'm just goint to lay out 1 trend and they all follow it. 
    button(onclick='start();') Start
    for cable, index in Object.keys(objData)
        div.bodyCard(id="bodyCard"+index)
            label(for="cable") Cable: #{index}
            input.cable(type="number" name="cable" id="cable")
    script.
        var data = !{JSON.stringify(objData)};
        function start(){
            var cableObj = {};
            var arr = document.getElementsByClassName("cable");
            Object.keys(arr).forEach(a => data[a + "s"] = arr[a].value); 
            Object.keys(arr).forEach((cableN) => {
                data[cableN].slice(",").forEach((b) => {
                    if(data[cableN + 's']){
                        cableObj[b] = parseInt(data[cableN + "s"], 10);//I need this to be in random order
                    };
                });
            });
            setInterval(update, 900000);
            update(cableObj);
        }

        function update(cableObj){
            let toSend = 'next';
            Object.keys(cableObj).forEach((a) => {
                cableObj[a] = cableObj[a] + Math.floor(Math.random() * 5) - 2;
                if(cableObj[a]>10){
                var j = cableObj[a] * 10;
                }else{j = '0'+ (cableObj[a] * 10)};
                toSend = toSend + a + j;
            });
            send(toSend);
        }

        function send(obj){
            var route = 'http://localhost:3000/binMaster/test';
            const http = new XMLHttpRequest();
            http.open('POST', route);
            http.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            http.onreadystatechange = () => {
                if(this.readyState === XMLHttpRequest.DONE && this.status === 200){
                    //do whatever...
                }
            };
            http.send(obj);
        }

