extends layout
include mixins/_loginPhone
include mixins/_registerPhone
block content
    .introSpacer
    .introContainer
        .flashes#flashes
        .intro 
            .loginAndSampleContainer
                +loginPhone()
                .sample.card
                    h3.introH3 View Sample
                    hr
                    button.submitButton Go
            .registerContainer           
                +registerPhone()
    .readout
        .flashes#readoutFlashes
        #bins
    script(type="text/javascript" src="/javascripts/genBins.js")