extends layout
include mixins/_loginPhone
include mixins/_registerPhone
block content
    .introSpacer
    .introContainer
        .flashes#flashes
        .intro 
            .loginAndSampleContainer
                +loginPhone()
                .sample.card
                    h3.introH3 View Sample
                    hr
                    button.submitButton Go
            .registerContainer           
                +registerPhone()
    .readoutSpacer
    .readoutBanner.banner
        .readoutLinksContainer
            .bannerLinks
                .bannerLinksText#setupCables Setup your cables:
                    table#setupCablesDropdown
                        tr
                            th Cable ID
                            th Select an existing bin
                            th Name a new bin
                            th Name the cable
                            th
    .readout
        .flashes#readoutFlashes
        #bins
    script(type="text/javascript" src="/javascripts/genBins.js")