extends layout 

block content 
    form(action="/sensorTest" method="POST")
        label(for="sensorId") SensorId
        input(type="text" name="sensorId")
        label(for="read") Read
        input(type="number" name="read")