mixin loginPhone()
    .login.card
        h3.introH3 Login
        hr
        form(action="/login" method="POST" id="loginForm")
            label(for="user") Phonenumber
            .loginUserContainer
            input.loginInputPhone.loginInput(name="user" placeholder="#" id="loginUser" value="+1" autofocus)
            label(for="password") Password
            input.loginInput(type="password" name="password" placeholder="password" id="loginPassword")
            br
        button.submitButton(onClick='login()') Login