mixin register()
    .register.card
        h3.introH3 Register
        hr
        form(action="/register" method="POST" id="registerForm")
            label(for="email") Enter your Email
            input.registerInput(type="email" name="email" placeholder="email" id="registerEmail")
            br
            label(for="emailConfirm") Confirm Email
            input.registerInput(type="email" name="emailConfirm" placeholder="email" id="registerEmailConfirm")
            br
            label(for="password") Enter your Password
            input.registerInput(type="password" name="password" placeholder="password" id="registerPassword")
            br
            label(for="passwordConfirm") Please confirm your password
            input.registerInput(type="password" name="passwordConfirm" placeholder="password" id="registerPasswordConfirm")
            br
            //- button.submitButton Register
        button.submitButton(onClick='register()') Register
